*{
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html{
    background-color:var(--color--, white);
    color: var(--textcolor--, white);
    color: var(--botton--, rgb(0, 173, 32));
}

body{
    font-family: 'montserrat';
    background: #ffffff;
    color: #101010;
}

.header{
    background-color: #ffffff;
    display: flex;
    height:80px ;
    width: auto;
    height: 60px; 
}

.header img{
    width: 160px;
    margin-left: 60px;
    margin-bottom:auto;
    margin-top: 20px;

}

.nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 100px;
}

.nav ul{
    display: flex; 
}

.nav ul li{
   text-decoration: none;
   list-style-type: none;
   font-weight: 500;
   font-size: 15px;
   border-radius: 3px;
   padding: 5px 5px 5px 5px;
   margin: 10px;
}

.nav ul li a{
    text-decoration: none;
    color: #008502;
}

.nav ul li:active {
    color:#F77B23;
}
.nav ul :hover{
    text-decoration: none;
    color:#F77B23;

    border-color:rgb(45, 107, 161);
}

.login, .signup{
    display: flex;
    align-items: center;
    padding: 10px;
}

.login p, .signup p{
    border: solid #008502 1px;
    color: #008502;
    width: 100px;
    text-align: center;
    height: 25px;
    border-radius: 3px;
    padding-top: 5px;
}

.signup p{
    background-color: #008502;
    color: #ffffff;
}

.align{
    padding-left: 370px;
    display: flex;
}
.hero-section{
    max-width: auto;
    height: 550px;
    background-image: url(../Images/hero-image.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px;
    padding: 0px;
}

.info-container{
    background-color: #ffffff;
    margin: 120px;
    margin-bottom: 40px;
}

.info-container h1,
.info-container-album h1{
    font-weight: 500;
    font-size: 40px;
    margin-bottom: 60px;
    color: #008502;
}

.info-container-album h1{
    padding-top: 120px;
}
.info-container p{
    margin-top: 20px;
    margin-bottom:40px ;
    line-height: 22px;
}

.info-container p a{
    text-decoration: none;
    color: #008502;
}
.wrapper{
    display: flex;
    justify-content: auto;
    gap: 120px;
    background-color:var(--color--)
}

.botton {
    padding: 7px;
    color: #008502;
    border: solid 1.5px;
    border-radius: 5px;
    width: 90px;
}
.botton:hover{
    background-color: #008502;
}
.botton a:hover{
    color: #ffffff;
}

.info-container-profile,
.info-container-album{
    background-color: #ecd900;
    display: flex;
}
.info-container-profile h1{
    font-weight: 400;
    font-size: 40px;
    margin-bottom: 60px;
    color: #008502;
    padding-left: 120px;
    padding-top: 170px;
}

.info-container-profile p{
    padding-left: 120px;
    line-height: 25px;
}

.info-container-album{
    padding-right: 50px;
    background-color: rgb(222, 222, 222);
}
.info-container-profile img{
    padding: 50px;
    width: 400px;
    height: 400px;
}

.info-container-album img{
    padding: 150px;
    width: 400px;
    height: 400px;
}

.info-container-album p{
    line-height: 22px;
}

.info-container-album h1{
    padding-top: 150px;
}
.album, h3{
    text-align: center;
    padding-bottom: 0px;
}
.info-container h3{
    font-weight: 300;
    font-size: 24px;
}

.main-card{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 35px;
    padding-bottom: 120px;

}

.main-card img{
    width: 226px;
    height: 226px;
    margin-bottom: 20px;
}

.main-card p a,
.card p a{
    text-decoration: none;
    color: #008502;
}

.album-lyrics{
    text-align: center;
    padding-top: 60px;
}
.album-lyrics h1{
   font-weight: 500;
   color: #008502;
}

.lyrics, 
.lower-lyrics{
    display: flex;
    column-gap: 30px;
    justify-content: center;
    align-content: center;
    width:auto ;
    padding-left: 60px;
}

.lower-lyrics{
    margin-bottom: 150px;
}

.lyrics h4, 
.lower-lyrics h4{
    padding-top: 80px;
    padding-bottom: 30px;
    font-size: 20px;
}

.lyrics p, 
.lower-lyrics p{
    line-height: 25px;
}
.lyrics div,
.lower-lyrics div{
    width: 300px;
}
.lyrics h1{
    text-align: center;
}
.footer img{
    width: 140px;
    margin-top: 30px;
    margin-left: 50px;
}

.gallery{
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}
.card{
    width: 300px;
    height: 500px;
    border-radius: 10px;
    background-color: #eaeaea;
    margin-bottom: 60px;
}

.card img{
    width: 300px;
}

.card h4{
    padding: 15px;
}
 .card p{
    padding-left: 15px;
    line-height: 25px;
 }

 .botton-gallery{
    margin-left: 15px;
    margin-top: 40px;
    background-color: #008502;
    border-radius: 5px;
    width: 270px;
    height: 40px;
    align-content: center;
 }

 .botton-gallery p a{
    color: #fff;
    padding: 80px;
 }

 .botton-gallery:hover{
    background-color: #F77B23;
 }
.footer{
    background-image: url(../Images/footer.png);
    background-color:#008502;
    display: flex;  
    height: 250px;
    gap: 60px;
    padding-top: 20px;
}

.footer p {
    color: #ffffff;
    font-weight: 400;
    margin: 20px 20px 0px 50px;
    line-height:10px;
}

.footer li {
    list-style-type: none;
}
.footer li a {
    color: #fff;
    margin-left: 50px;
    text-decoration: none;
}

.footer h3{
    color: #fff;
    margin-top: 95px;
    margin-left: 50px;
}

.contact li{
    line-height: 20px;
    display: inline-block;
    padding: 10px;
}
